---
// Layout Import
import MainLayout from "../layouts/MainLayout.astro";

// Component Imports
import SplideCarousel from "../components/SplideCarousel.astro";


---

<MainLayout>
	<section>
		<SplideCarousel>
	</section>
</MainLayout>


