---
import Link from './Link.astro';
---

<div class="nav">
    <Link href="/about" title="About" ariaLabel="About">About</Link>
    <Link href="/projects" title="Projects" ariaLabel="Projects">Projects</Link>
    <Link href="/contact" title="Contact" ariaLabel="Contact">Contact</Link>
</div>

<style lang="scss">
    .nav {
    }
</style>