header {
    &.header {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        display:flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        padding:34px 171px 34px 34px; 
        z-index:2;   
        &__logo {

        }
        &__menu {
            
        } 
    }
}