---
import type { PageProps } from '../types/mainLayout';
import Loader from '../components/Loader.astro';
import Header from "../components/Header.astro";

const { pageTitle, mainId } = Astro.props as PageProps;

import "../styles/styles.scss";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Favicons -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" type="image/png" sizes="512x512" href="/favicon-512.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

		<meta name="viewport" content="width=device-width" />

		<meta name="generator" content={Astro.generator} />
		
		<title>{ pageTitle }</title>
	</head>
	<body>
		<Loader />
        <Header/> 
		<main id={mainId} class="main">
			<slot />
		</main> 
	</body>
</html>


