@use "reset";
@use "animations";
@use "text";

html {
    position:relative;
    margin: 0;
	width: 100%;
	font-family: 'Bebas Neue', sans-serif;
}

body {
    position:relative;
    margin: 0;
	width: 100%;
}